
/************ CSS for Global Header ************/

body, html{
	height: 100%;
    min-height: 100%;
    width: 100%;
	font-size: 1em;
}

*, body, html {
	font-family: Proxima Nova;
}


.home-page {
	height: 100%;
	overflow: hidden;
}
.homeMain .bgimg{
	display :none
}
.homeMain {
	height: 100vh;
	overflow: hidden;
}

.navbar-fixed-top {
	position: relative;
	margin-bottom: 0;
	margin-bottom: -1px;
	min-height: 85px;
    background: rgb(13, 99, 168);
	display: table;
    width: 100%;
}

.wm-logo-txt {
	font-size: .4em;
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    margin: 0 auto;
	right: 0;
    width: 15%;
}

.drwr-wrap center img{
	height: 50px !important;
    margin: 10px auto !important;
    left: 0;
    position: absolute;
	right: 0;
	top: -5px;
}

center {
	height: 60px;
}

.app-nav {
	box-shadow: none !important;
}

.wm-header > div {
	width: 33%;
	float: left;
}

.site-logo img,
.cart-logo img {
	width: 30%
}

header {
	overflow: hidden;
    padding: 20px 10px;
	
}

.drwr-wrap {
	vertical-align: middle;
    display: table-cell;
    height: 80px;
}

.drwr-wrap > div > div:first-child {
	background-color: transparent !important;
}

.drwr-wrap > div > div:nth-child(2) {
	overflow-y: auto !important;
}

.drwr-wrap .menu-nav  hr {
	margin: 10px !important;
}

.menu-item {
	font-weight: bold !important;
}

.menu-item img {
	margin-right: 20px !important;
}

.menu-nav {
	/* height: 100% !important;
    overflow-y: scroll !important; */
}

.header-container {
	background: #004b8e;
}

.user {
	height: 135px;
    background: #f5f5f5;
    padding: 18px;
}

.user img {
	width: 20%;
    margin: 0 auto;
    display: block;
	border-radius: 30px;
}

.user-nm {
	display: block;
    margin: 20px;
    text-align: center;	
	color: rgb(0, 101, 158);
    font-size: 1.2em;
}

.menu {
	padding: 0 20px; 
	background: #fff;
}

.menu li img {
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu li a {
	display: table-cell;
    vertical-align: middle;
	font-weight: bold;
	font-size: 1.2em;
}
.menu li {
	list-style: none;
    height: 50px;
    display: table;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
}

.menu li:last-child {
	border-bottom: 0;
}

.menu-epnd-content {
	position: absolute;
	    left: 0px;
    -webkit-transition: All 0.6s ease;
    -moz-transition: All 0.6s ease;
    -o-transition: All 0.6s ease;
    -ms-transition: All 0.6s ease;
    transition: All 0.6s ease;
}

.menu-epnd-content.hide	{
	margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}


.search-bar {
	padding: 20px 10px;
    height: 100%;
    background: #e4e4e4;
}

.search-inputs img {
	width: 90px;
    height: 90px;
    margin: 50px;
	background: #fff;
}
.search-inputs {
	margin-top: 70px;
}

/* added by vikash*/
.box1, .box4 {
   font-size: 1em;
    float: left;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
	position: absolute;
	width: 30%;
}

.box span {
	display: inherit;
    font-size: 100%;
    font-family: proxima_nova_altbold;
}

.right{
	float:right;
}

.slide> div, 
.carousel .slide img {
	height: 50vh;
}

.box-carousel {
	height: -webkit-fill-available;
	position: relative;
	/* background: url("../images/tile-back.png") 0 0 no-repeat; */
	    bottom: 0;
    height: auto;
    position: absolute;
    width: 100%;
    max-width: 100%;
	
}

.carousel-data > img {
	max-width: 100%;
	width: 100%;
    position: relative;
    /* top: -135px;
    height: 420px; */
}

.carousel-data {
	position: relative;
}

.box img {
	padding: 5px;
}

.box1 {
	top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
	
}

.box1  img,
.box2  img,
.box3  img {
	width: 50%;
}

.box2 {
	right: 0;
    margin: 0 auto;
    width: 30%;
    left: 0;
    float: right;
    text-align: center;
}

.box3 {
	right: 0;
    margin: 0 auto;
    width: 30%;
    left: 0;
    float: left;
    text-align: center;
}

.box4 {
	left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5%;
    top: unset;
	font-size: 1.4em;
}

.box.box4 span {
	color: #b71612;
	font-size: 100%;
	line-height: 1;
}

.carousel-arrow .left img,
.carousel-arrow .right img{
	position: relative;
    height: 20px;
    width: 20px;
    z-index: 20;
	display: inline-block;
	position: absolute;
	
}

.carousel-arrow .left, 
.carousel-arrow .right {
	display: block;
	width: 25px;
	position: relative;
}

.carousel-arrow .right {
	right: 15px;
}

.carousel-arrow .left {
	left: 15px;
}

.midl {
	position: absolute;
    top: 60%;
    width: 100%;
}

.carousel-arrow {
	float: left;
    width: 100%;
    position: absolute;
    top: 36%;
}

.main-content{
	height: 100vh;
}

.product-screen {
	height: 0;
    -webkit-transition-property: height;
    transition-property: height;
	visibility: hidden

}

.product-screen.show-prod {
    border-top: 1px solid #999999;
    position:fixed;
    height: 90%;
    z-index: 20;
    text-align:center;
   width: 100%;
	visibility: visible;
    color: #000;
    background: #FFF;
    display: flex;
    justify-content: center; /* align horizontal */
    overflow: auto;
   bottom: 0;
	margin-top: 80px;
	transition: height .5s;
	background: #f3f3f3;
}

.cat-link {
	height: 100%;
    width: 100%;
    display: block;
}


.cat {
	width: 60%;
	margin: 0 auto;
}

.cat img {
	max-width: 100%;
    width: 100%;
    height: 100%;
}

.cat.left {
	width: 47%;
    position: absolute;
    left: 0;
}

.cat.right {
	width: 47%;
    position: absolute;
    right: 0;
}

.horz-cat {
	position: absolute;
    width: 100%;
    top: 20%;
}

.brands-cat .horz-cat {
	top: 65%;
}

.electronic  {
	position: relative;
}

.prod-details {
	background:	#f3f3f3;
	height: 100vh;
	position: relative;

}

.brands-cat {
	height: 100vh;
    background: #f3f3f3;
	position: relative;
    top: 20%;
}

.brands-hdng {
	font-size: 2em;
    position: absolute;
    left: 0;
    right: 0;
    color: #888;
    top: -30px;
}

.brands-cat-gp1 {
	position: absolute;
    top: 5%;
    width: 100%;
}

.brands-cat-gp2 {
	position: absolute;
    top: 45%;
    width: 100%;
}

.brands-cat-gp3 {
	position: absolute;
    top: 86%;
    width: 100%;
}

.product-scrn-wrap {
	width: 100%;
}

.vw-all {
    position: absolute;
    bottom: -100px;
    right: 0;
    left: 0;
    font-size: 1.6em;
    color: #b71612;
    text-transform: uppercase;
	font-weight: bold;
}

.vw-all-wrap {
	position: relative;
    height: 100%;
    width: 100%;
}

.tabs-justified {
	background: #fff;
	padding: 5px;
}

.mui-tabs__bar>li.mui--is-active a {
	opacity: 1;
}

.mui-tabs__bar>li a {
	opacity: .4;
	font-weight: bold;
}

.mui-tabs__bar>li a {
	color: rgb(13, 99, 168) !important;
}

.mui-tabs__bar.mui-tabs__bar--justified>li:last-child {
	right: -15%;
}

.mui-tabs__bar.mui-tabs__bar--justified>li:first-child {
    left: -15%;
}

.mui-tabs__bar.mui-tabs__bar--justified>li {
	position: relative;
}



.slide-up
{
    bottom: 0px !important;
}

.slide-down
{
    bottom: -475px !important;
}

.prod-str {
	position: relative;
	width: 100%;
	padding: 10px;
	height: 30px;
}


.prod-str img {
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 10%;
}

.tabs-justified.ok > div {
	position: fixed;
    top: 80px;
    z-index: 899;
    background: #fff;
    height: 60px;
    padding: 0;
} 



@media (max-width: 660px) {
	

}

@media (min-width: 600px) {
	.brands-cat-gp2 {
		top: 52%;
	}
	
	.brands-cat-gp3 {
		top: 100%;
	}
	
	.vw-all {
		bottom: -300px;
	}
	
	.prod-str {
		height: 40px;
	}
	
	.prod-str img {
		width: 5%;
	}
	
	.mui-tabs__bar>li>a {
		font-size: 24px;
	}

}

@media (max-width: 414px) {
	.mui-tabs__bar>li>a {
		font-size: 16px;
	}
	
	.brands-cat-gp2 {
		top: 50% !important;
	}
	
	.brands-cat-gp3 {
		top: 97% !important;
	}
	
	.vw-all {
		bottom: -200px;
	}
}

@media (max-width: 411px) {
	.brands-cat-gp3 {
		top: 90% !important;
	}
	
	.brands-cat-gp2 {
		top: 42% !important;
	}
	
	.vw-all {
		bottom: -190px;
	}
	
}

@media (max-width: 375px) {
	.brands-cat-gp2 {
		top: 47% !important;
	}
	
	.vw-all {
		bottom: -150px;
	}

}

@media (max-width: 360px) {
	.brands-cat-gp2 {
		top: 50%;
	}
	
	.brands-cat-gp3 {
		top: 95%;
	}
}


@media (max-width: 320px) {
	.box4 {
		bottom: 0;
	}
	
	.brands-cat {
		top: 22%;
	}
	
	.mui-tabs__bar>li>a {
		font-size: 12px;
	}
	
	.vw-all {
		bottom: -200px;
	}
}

@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	
	.slide> div, .carousel .slide img {
		height: 60vh;
	}
	
	.brands-cat-gp2 {
		top: 42% !important;
	}
	
	.brands-cat-gp3 {
		top: 80% !important;
	}
	
	.vw-all {
		bottom: -20px;
	}
}

@media screen and (min-width: 693px) and (orientation : portrait){

	.carousel-data > img {
		height:60vh;
	}
	
	
	.box span {
		font-size: 1.8em;
	}
	
	.box4.box span {
		font-size: 2em;
	}
	
	.box1 img, .box2 img, .box3 img {
		width: 35%;
	}
	
	.box4 img {
		width: 20%;
	}
	
	.carousel-arrow .left img, .carousel-arrow .right img {
		height: 40px;
		width: 40px;
	}
		
	.carousel-arrow .left img {
		left: 20px;
	}
	
	.carousel-arrow .right img {
		right: 20px;
	}

	.box4 span {
		font-size: 1.5em;
	}
	
	.brands-cat-gp3 {
		top: 115%;
	}
	
	.brands-cat-gp2 {
		top: 60%;
	}
	
	.horz-cat {
		top: 25%;
	}
	
	.brands-cat {
		top: 25%;
	}
	
	.brands-hdng {
		font-size: 3em;
	}
	
	.vw-all {
		bottom: -770px;
		font-size: 2.6em;
	}
	
	.prod-str {
		height: 70px;
	}
	
	.prod-str img {
		width: 8%;
	}
	
	.mui-tabs__bar>li>a {
		font-size: 28px;
	}
	
	
	
}

@media screen and (min-width: 799px) and (orientation : portrait){
	.box span {
		font-size: 1.6em;
	}
	
	.box4 span {
		font-size: 2em;
	}
	
	.midl {
		top: 65%;
	}

}
@media screen and (min-width: 1024px) and (orientation : portrait){

	.box4 span {
		font-size: 2.2em !important;
	}
	
	.box4 img {
		width: 15%;
	}
	
	.box span {
		font-size: 2em;
	}

}

/* @media screen and (min-width: 320px) and (max-width: 1024px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
/* Aarti */

.search_bar {
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 11%;
    text-align: center;
}


.gif_align {
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
}

.search_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	 margin-top: 20%;
 }
 .search-screen.show-search{
	border-top: 1px solid #999999;
	position:fixed;
	height: 90%;
	z-index: 20;
	top:  80px;
	text-align:center;
   width: 100%;
	 visibility: visible;
	color: #000;
	background: #FFF;
	display: flex;
	justify-content: center;

	 transition: height .5s;
	 background: #f3f3f3;
 }
 
 .search-screen {
	 height: 0;
	-webkit-transition-property: height;
	transition-property: height;
	 visibility: hidden;
	 display: none;
 }

/* //Jahangir */


body {
	/* background-color: #ececec; */
  }
  
  .pd-mainWrapper {
	/* padding: 20px 10px; */
  }
  
  .pd-searchtextBox {
	border: 1px solid #a7a7a7;
	padding: 10px 35px 10px 10px;
	background: #fff url('pd-search.svg') no-repeat right center;
	width: 100%;
  }
  
  ::placeholder {
	color: #a7a7a7;
  }
  
  .pd-searchByBlock {
	padding: 20px 10px;
	overflow: hidden;
	background-color: #ececec;
  }
  
  .pd-searchByBlock p {
	margin: 0 0 5px 0;
  }
  
  .pd-searchKeywords {
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
  }
  
  .pd-searchByBlock-left {
	float: left;
  }
  
  .pd-searchByBlock-right {
	float: right;
  }
  
  .pd-searchByBlock-right img {
	width: 50px;
	margin-left: 10px;
  }

  .pd-mainWrapper > div.ui-input-text {
	padding: 10px;
  }
  
  .pd-resultNumber {
	font-size: 1em;
	/* margin: 20px 0 10px 0; */
  }
  
  ul.sorting {
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
  }
  
  .sorting li {
	background: #fff;
	border: 1px solid #a7a7a7;
	padding: 8px;
	float: left;
	width: 50%;
	display: inline;
	text-align: center;
  }
  
  .sorting a {
	color: #333;
  }
  
  .sorting li.active {
	border: 1px solid #0d63a8;
	color: #0d63a8;
  }
  
  .pd-productBlock {
	background: #fff;
    /* border-radius: 8px; */
    margin: 10px 0;
    padding: 10px 15px 25px;
    border-bottom: 1px solid #ccc;
  }
  
  .pd-productBlock h1 {
	font-size: 1.4em;
	font-weight: 600;
	color: #0d63a8;
	margin: 0;
  }

  .view-more {
	text-align: center;
    font-size: 2em;
    color: #b71612;
  }
  
  .pd-rating img.rateStar {
	margin: 0 5px 0 0;
	float: left;
  }
  
  .pd-productThumbWrapper {
	margin: 0 auto;
	text-align: center;
  }
  
  .pd-productThumb {
	margin: 25px auto 10px auto;
	width: 250px;
  }
  
  .pd-wishlist {
	float: right;
	width: 30px;
  }
  
  .pd-productCategoryContent {
	margin: 45px 0;
	padding-bottom: 25px;
  }
  
  ul.pd-productCategory {}
  
  ul.pd-productCategory li {
	display: inline;
	width: 30%;
	float: left;
	font-size: 1em;
	color: #000;
	text-align: center;
  }
  
  ul.pd-productCategory li img {}
  
  ul.pd-productCategory li span {
	display: block;
  }
  
  .pd-noteQtyLeft {
	float: left;
	font-size: .9em;
	margin: 20px 0;
  }
  
  .pd-noteQtyRight {
	float: right;
  }
  
  .btnSpinner {
	background: #0061aa;
	border-radius: 0;
	padding: 5px;
	width: 30px;
	height: 25px;
	border: none;
	display: block;
	margin: 1px 0;
	line-height: 0px;
  }
  
  .stepper-widget .ui-input-text {
	float: left;
  }
  
  .stepper-widget .quantity {
	border: none;
	width: 30px;
	color: #000;
	padding: 0 5px;
	box-shadow: none;
	float: left;
	margin: 5px 0;
	font-size: 1em;
	height: 50px;
	margin: 0;
	line-height: 50px;
	text-align: center;
  }
  
  .pd-buyButton {
	background: #d2e36d;
	border-radius: 30px;
	font-size: 1.5em;
	padding: 10px 20px;
	border: none;
	width: 100%;
  }

  .clr-plt li {
    display: inline-block;
    width: 30px;
    height: 30px;
	
	margin: 10px 25px 0 0;
    border-radius: 19px;
}

.clr-plt .blck {
	background: #000;	
}
.wht {
	background: #fff;
}

.blu {
	background: #5645e6;
}

.red {
	background: #f92c17;
}

.orng {
	background: #ef8707;
}

.prpl {
	background:#9608ef;
}

.clr-plt {
	padding: 20px 0;
    border-top: 1px solid #c4c4c4;
    margin-top: 20px;
}


  
