
/************ CSS for Global Header ************/

.navbar-fixed-top {
	height: 100%;
}

.wm-header > div {
	width: 33%;
	float: left;
}

.site-logo img,
.cart-logo img {
	width: 30%
}

header {
	overflow: hidden;
    padding: 20px 10px;
}

.header-container {
	background: #004b8e;
}

.user {
	height: 130px;
	background: #e4e4e4;
}

.user img {
	width: 50px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.user-nm {
	display: block;
    margin: 20px;
    text-align: center;	
	color: rgb(0, 101, 158);
    font-size: 1.2em;
}

.menu {
	padding: 0 20px; 
}

.menu li img {
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu li a {
	display: table-cell;
    vertical-align: middle;
	font-weight: bold;
	font-size: 1.2em;
}
.menu li {
	list-style: none;
    height: 50px;
    display: table;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
}

.menu li:last-child {
	border-bottom: 0;
}

.search-bar {
	padding: 20px 10px;
    height: 100%;
    background: #e4e4e4;
}

.search-inputs img {
	width: 10px;
    height: 10px;
    margin: 50px;
	background: #fff;
}
.search-inputs {
	margin-top: 70px;
}