
/************ CSS for Global Header ************/

#root,
.home-page {
	height: 100%;
	overflow: hidden;
}

.navbar-fixed-top {
	position: relative;
	margin-bottom: 0;
}

.wm-header > div {
	width: 33%;
	float: left;
}

.site-logo img,
.cart-logo img {
	width: 30%
}

header {
	overflow: hidden;
    padding: 20px 10px;
}

.header-container {
	/* background: #004b8e; */
	background: #0D63A8;
}

.user {
	height: 130px;
	background: #e4e4e4;
}

.user img {
	width: 50px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.user-nm {
	display: block;
    margin: 20px;
    text-align: center;	
	color: rgb(0, 101, 158);
    font-size: 1.2em;
}

.menu {
	padding: 0 20px; 
	background: #fff;
}

.menu li img {
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu li a {
	display: table-cell;
    vertical-align: middle;
	font-weight: bold;
	font-size: 1.2em;
}
.menu li {
	list-style: none;
    height: 50px;
    display: table;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
}

.menu li:last-child {
	border-bottom: 0;
}

.menu-epnd-content {
	position: absolute;
	    left: 0px;
    -webkit-transition: All 0.6s ease;
    -moz-transition: All 0.6s ease;
    -o-transition: All 0.6s ease;
    -ms-transition: All 0.6s ease;
    transition: All 0.6s ease;
}

.menu-epnd-content.hide	{
	margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}


.search-bar {
	padding: 20px 10px;
    height: 100%;
    background: #e4e4e4;
}

.search-inputs img {
	width: 90px;
    height: 90px;
    margin: 50px;
	background: #fff;
}
.search-inputs {
	margin-top: 70px;
}

/* added by vikash*/
.box {
   font-size: 1.2em;
    float: left;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
	position: absolute;
	width: 35%;
}

.box span {
	display: inherit;
	font-weight: bold;
}

.right{
	float:right;
}

.slide> div, 
.carousel .slide img {
	height: 100%;
}

.box-carousel {
	height: -webkit-fill-available;
}

.carousel-arrow + img {
	width: 100%;
	position: absolute;
    bottom: 0;
	height: 65%;
}

.carousel-data {
	position: relative;
}

.box img {
	padding: 10px;
}

.box1 {
	top: -42px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.box2 {
	top: 100px;
    left: 0;
}

.box3 {
	right: 0;
    top: 100px;
}

.box4 {
	bottom: -265px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.box4 span {
	color: #b71612;
	font-size: 1.3em;
}

.left img,
.right img{
	position: relative;
    height: 20px;
    width: 20px;
    z-index: 9999;
	display: inline-block;
	margin: 0 10px;
}

.left, .right {
	display: inline-block;
}












