
/************ CSS for Global Header ************/

#root,
.home-page {
	height: 100%;
	overflow: hidden;
	margin-right: -1px;
}

.navbar-fixed-top {
	position: relative;
	margin-bottom: 0;
	margin-bottom: -1px;
}

.wm-logo-txt {
	font-size: .35em;
    display: block;
    position: absolute;
    top: 23px;
    left: 42%;
}

center {
	height: 60px;
}

.wm-header > div {
	width: 33%;
	float: left;
}

.site-logo img,
.cart-logo img {
	width: 30%
}

header {
	overflow: hidden;
    padding: 20px 10px;
	
}

.header-container {
	background: #004b8e;
}

.user {
	height: 130px;
	background: #e4e4e4;
}

.user img {
	width: 50px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.user-nm {
	display: block;
    margin: 20px;
    text-align: center;	
	color: rgb(0, 101, 158);
    font-size: 1.2em;
}

.menu {
	padding: 0 20px; 
	background: #fff;
}

.menu li img {
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu li a {
	display: table-cell;
    vertical-align: middle;
	font-weight: bold;
	font-size: 1.2em;
}
.menu li {
	list-style: none;
    height: 50px;
    display: table;
	width: 100%;
	border-bottom: 1px solid #d4d4d4;
}

.menu li:last-child {
	border-bottom: 0;
}

.menu-epnd-content {
	position: absolute;
	    left: 0px;
    -webkit-transition: All 0.6s ease;
    -moz-transition: All 0.6s ease;
    -o-transition: All 0.6s ease;
    -ms-transition: All 0.6s ease;
    transition: All 0.6s ease;
}

.menu-epnd-content.hide	{
	margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}


.search-bar {
	padding: 20px 10px;
    height: 100%;
    background: #e4e4e4;
}

.search-inputs img {
	width: 90px;
    height: 90px;
    margin: 50px;
	background: #fff;
}
.search-inputs {
	margin-top: 70px;
}

/* added by vikash*/
.box {
   font-size: 1em;
    float: left;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
	position: absolute;
	width: 38%;
}

.box span {
	display: inherit;
	font-weight: bold;
}

.right{
	float:right;
}

.slide> div, 
.carousel .slide img {
	height: 100%;
}

.box-carousel {
	height: -webkit-fill-available;
}

.carousel-arrow + img {
	width: 100%;
	position: absolute;
    bottom: 0;
	height: 65%;
}

.carousel-data {
	/* position: relative; */
}

.box img {
	padding: 5px;
}

.box1 {

    left: 0;
    right: 0;
    margin: 0 auto;
	transform: translate(0%, -55%);
}

.box1  img,
.box2  img,
.box3  img {
	width: 35%;
}

.box2 {
	transform: translate(-6%, 85%);
    left: 0;
}

.box3 {
	right: 0;
    transform: translate(9%, 110%);
}

.box4 {
	transform: translate(0%, 285%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.box4 span {
	color: #b71612;
	font-size: 1.3em;
}

.left img,
.right img{
	position: relative;
    height: 20px;
    width: 20px;
    z-index: 9999;
	display: inline-block;
	position: absolute;
}

.left, .right {
	display: inline-block;
	margin: 0 10px;
	position: relative;
}








@media (max-width: 660px) {
	
}

@media (max-width: 414px) {

	.right img {
		right: 0;
    	top: 25px;
	}

	.left img {
		left: 0;
    	top: 10px;
	}

	.box4 {
		transform: translate(0%, 400%);
	}

	.box2 {
		transform: translate(-6%, 138%);
	}

	.box3 {
		transform: translate(9%, 120%);
	}

	.box1 {
		transform: translate(0%, -35%);
	}
}

@media (max-width: 375px) {
	.box4 {
		transform: translate(0%, 175%);
	}
}

@media (max-width: 360px) {
	.box4 {
		transform: translate(0%, 175%);
	}
}



@media screen and (min-width: 693px) and (orientation : portrait){
	.carousel-arrow + img {
		height: 50%;
	}
	
	.box1 {
		transform: translate(0%, -70%);
	}
	
	.box3 {
		transform: translate(9%, 60%);
	}
	
	.box2 {
		transform: translate(-6%, 60%);
	}

	.box4 {
		transform: translate(0%, 325%);
	}

	.box1  img,
	.box2  img,
	.box3  img {
		width: 30%;
	}
	
	.left img, .right img {
		height: 40px;
		width: 40px;
		
	}
	
	.left, .right {
		position: relative;
	}
	
	.left img {
		top: -30px;
		left: 20px;
	}
	
	.right img {
		top: -15px;
		right: 20px;
	}

	.box4 span {
		font-size: 1.5em;
	}

}







