.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body, html {
  height: 100%;
  min-height :100%;
  margin: 0
  }

  .bgimg {
  background-image: url(./west-marine-logo1.jpg);
  /* Full-screen */
  height: 100% !important;
background-position: center;
background-size: cover;
position: relative;
color: white;
font-family: "Courier New", Courier, monospace;
font-size: 25px;

overflow: hidden;

}

.responsive {
width: 75%;
height: 75%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 40%
}

.loader {
border: 5px solid #f3f3f3;
border-radius: 50%;
border-top: 5px solid #3498db;
width: 60px;
height: 60px;
-webkit-animation: spin 2s linear infinite; /* Safari */
animation: spin 2s linear infinite;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}


.show-enter{
	opacity: 0.01;
  }
  
.show-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
  }
.show-leave {
	opacity: 1;
  }
  .show-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
  }

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
